In [83]:
import mysql

In [84]:
import regex

In [3]:
import pandas as pd
import mysql.connector
from mysql.connector.optionfiles import MySQLOptionsParser

mydb = mysql.connector.connect(
    host = '127.0.0.1',
    port = int(3306),
    user = 'root',
    password = '1111',
    database = 'mydb'
    )
mycursor = mydb.cursor(buffered = True)

In [86]:
from sqlalchemy import create_engine
import pymysql
engine = create_engine("mysql+pymysql://root:1111@localhost:3306/mydb")

mycursor.execute('drop database mydb')

In [87]:
mycursor.execute('show tables')
for x in mycursor: 
    print(x)

('hidden_traits',)
('punk_tipus_has_traits',)
('punks',)
('punks_has_hidden_traits',)
('skins',)
('traits',)
('transaction_history',)
('type_transaction',)
('types',)

Pujo els diferents tipos per obtenir les id's

In [88]:
hidden = pd.read_csv('db_hidden.csv', index_col = [0])

In [89]:
values = [[item] for item in hidden['0']]

In [90]:
mycursor.executemany('INSERT INTO hidden_traits(hidden_name) VALUES (%s)', values)

In [91]:
mydb.commit()

In [92]:
mycursor.execute('select * from hidden_traits')
for x in mycursor:
    print(x)

(1, 'Hidden Buck Teeth')
(8, 'Hidden Earring')
(7, 'Hidden Frown')
(3, 'Hidden Handlebars')
(4, 'Hidden Lipstick')
(6, 'Hidden Mole')
(2, 'Hidden Mustache')
(5, 'Hidden Smile')

In [93]:
traits = pd.read_csv('db_traits.csv', index_col = [0])

In [94]:
values_2 = [[item] for item in traits ['0']]

In [95]:
mycursor.executemany('INSERT INTO traits(traits_name) VALUES (%s)', values_2)
mydb.commit()

In [96]:
types = pd.read_csv('db_types.csv', index_col = [0])

In [97]:
values_3 = [[item] for item in types['0']]

In [98]:
mycursor.executemany('INSERT INTO types(type_name) VALUES (%s)', values_3)
mydb.commit()

In [99]:
skins = pd.read_csv('db_skins.csv', index_col = [0])

In [100]:
values_4 = [[item] for item in skins ['0']]

In [101]:
mycursor.executemany('INSERT INTO skins(name_skin) VALUES (%s)', values_4)
mydb.commit()

Descarrego les id's per tipo i ho carrego a una llista

In [102]:
id_hiddens = []
mycursor.execute('select * from hidden_traits')
for x in mycursor:
    id_hiddens.append(x)

In [103]:
id_traits = []
mycursor.execute('select * from traits')
for x in mycursor:
    id_traits.append(x)

In [104]:
id_types = []
mycursor.execute('select * from types')
for x in mycursor:
    id_types.append(x)

In [105]:
id_skins = []
mycursor.execute('select * from skins')
for x in mycursor:
    id_skins.append(x)

Faig el mateix per tipus transaccions i id transaccions

In [108]:
transactions = pd.read_csv('df_transactions_full.csv')

In [109]:
t_types = pd.DataFrame(transactions.Type.unique())

In [110]:
t_types.drop([5,7,8], axis = 0, inplace = True)

In [111]:
values_5 = [[item] for item in t_types[0]]

In [112]:
mycursor.executemany('INSERT INTO type_transaction(type_transactioncol) VALUES (%s)', values_5)
mydb.commit()

In [113]:
mycursor.execute('select * from type_transaction')
for x in mycursor: 
    print(x)

(1, 'Bid withdrawn')
(2, 'Bid')
(3, 'Sold')
(4, 'Offered')
(5, 'Transfer')
(6, 'Offer withdrawn')

In [114]:
id_t_transaction = []
mycursor.execute('select * from type_transaction')
for x in mycursor: 
    id_t_transaction.append(x)

A modificar dataframes ara

In [115]:
index = transactions[transactions.Type == 'Claimed'].index

In [116]:
transactions.drop(index, axis = 0, inplace = True)

In [117]:
index_2 = transactions[transactions.Type == 'Transfer (Wrap)'].index

In [118]:
transactions.drop(index_2, axis = 0, inplace = True)

In [119]:
transactions.Type = transactions.Type.replace('Transfer (Unwrap)', 'Transfer')

In [120]:
transactions.reset_index(inplace = True)

In [121]:
id_t_transaction

[(1, 'Bid withdrawn'),
 (2, 'Bid'),
 (3, 'Sold'),
 (4, 'Offered'),
 (5, 'Transfer'),
 (6, 'Offer withdrawn')]

In [122]:
def dictio(list): 
    list_w = []
    list_n = []
    for x in list: 
        list_w.append(x[1])
        list_n.append(x[0])

    dictionary = dict(zip(list_w, list_n))
    return dictionary

In [123]:
dic_t_t = dictio(id_t_transaction)

In [124]:
transactions.Type = transactions.Type.replace(dic_t_t)

In [125]:
transactions.Amount = transactions.Amount.replace('[Îž]', '', regex = True)
transactions.Amount = transactions.Amount.replace('[,]', '', regex = True)
transactions.Amount = transactions.Amount.astype(float)

In [126]:
transactions.Transaction = transactions.Transaction.replace('(0x)[a-z0-9]*','', regex = True )

In [127]:
transactions.Transaction = pd.to_datetime(transactions.Transaction)

In [128]:
transactions.to_csv('transactions_clean.csv', index = False)

transactions.fillna(0, inplace = True)

In [129]:
transactions.From = transactions.From.fillna('0')

In [130]:
values_6 = [[item] for item in transactions['id']]

In [131]:
mycursor.execute('alter table transaction_history modify type_transaction_id int')

In [132]:
mycursor.execute('alter table punks modify num_traits int')

In [133]:
mycursor.execute('alter table punks modify Skins_idSkin int')

In [134]:
mycursor.execute('alter table punks modify Types_idType int')

In [51]:
df_types = pd.read_csv('crypto_punks.csv', index_col = [0])

In [52]:
values_7 = [[item] for item in df_types['id']]

In [53]:
mycursor.executemany('INSERT INTO punks(id) VALUES (%s)', values_7)

In [135]:
mydb.commit()

In [136]:
transactions.rename({'Type' : 'type_transaction_id', 
                     'id':'id_punk_tipus', 
                     'From':'owner', 
                     'To': 'new_owner',
                     'Amount':'amount'
                    }, axis = 1, inplace = True)

In [137]:
transactions.rename({'Transaction' : 'transaction'}, axis = 1, inplace = True)

In [138]:
transactions.reset_index(drop = True, inplace = True)

In [139]:
transactions.drop(['index'], axis = 1, inplace = True)

In [140]:
transactions.amount = transactions.amount.fillna(0)

In [141]:
transactions[transactions.id_punk_tipus == 349]

,type_transaction_id,id_punk_tipus,owner,new_owner,amount,transaction
2623,1,349,0x72622E,NaN,1.000000e+00,2021-07-22
2624,6,349,0,NaN,0.000000e+00,2021-07-14
2625,4,349,0,NaN,6.942069e+09,2021-07-14
2626,5,349,0xb7F7F6,0xac707e,0.000000e+00,2021-07-08
2627,6,349,0,NaN,0.000000e+00,2021-07-08
2628,5,349,0x72FAe9,0xb0cf9d,0.000000e+00,2021-07-08
2629,4,349,0,NaN,6.969000e+01,2021-07-05
2630,4,349,0,NaN,1.000000e+25,2021-07-05
2631,2,349,0x72622E,NaN,1.000000e+00,2021-06-28
2632,5,349,0xb7F7F6,0x72fae9,0.000000e+00,2021-06-19
2633,5,349,0xb7F7F6,0xba585c,0.000000e+00,2021-05-05
2634,5,349,0xBA585c,0x0d7f8b,0.000000e+00,2021-05-05
2635,5,349,0xEc7641,0x1011ce,0.000000e+00,2021-05-03
2636,5,349,0x2cbEE4,0xec7641,0.000000e+00,2021-03-07
2637,5,349,0x35388c,0x2cbee4,0.000000e+00,2021-03-05
2638,5,349,0xC352B5,0x35388c,0.000000e+00,2021-02-04

In [4]:
transactions_2 = pd.read_csv('Transaction_clean2.csv', index_col = 0)
transactions['Amount_dollars'] = transactions_2['Amount_dollars'].fillna(0)

NameError: name 'transactions' is not defined

In [143]:
transactions.drop(2630, inplace = True)

In [144]:
transactions.reset_index(inplace = True)

In [145]:
transactions.isna().sum()

index                       0
type_transaction_id         0
id_punk_tipus               0
owner                       0
new_owner              121809
amount                      0
transaction                 0
Amount_dollars              0
dtype: int64

In [146]:
transactions.drop('index', axis = 1,inplace = True)

In [147]:
index = transactions[transactions.amount >4294967295].index

In [148]:
transactions.drop(index, inplace = True)

In [149]:
transactions.reset_index(drop = True, inplace = True)

####transactions.to_sql(con=engine, name='transaction_history', if_exists='append', index = False)

transactions_2 = pd.read_csv('Transaction_clean2.csv', index_col = 0)

transactions['Amount_dollars'] = transactions_2['Amount_dollars'].fillna(0)

Passem a fer el canvi de valors del df de types

In [150]:
values_dol = [[item] for item in transactions_2['Amount_dollars']]

In [151]:
mycursor.execute('ALTER TABLE transaction_history ADD COLUMN Amount_dollars INT AFTER amount')
mydb.commit()

In [152]:
index = transactions[transactions.Amount_dollars > 4294967295].index

In [153]:
transactions.drop(index, inplace = True)

In [154]:
transactions.to_sql(con=engine, name='transaction_history', if_exists='append', index = False)

In [1]:
transactions

NameError: name 'transactions' is not defined